@media screen and (max-width: 896px) {
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        .section-login{
            width: 90%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #dedede;

            form{
                width: 80%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                


                .input-group{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    height: 68px;


                    input{
                        width: 100%;
                        padding: .8rem;
                        border-radius: 10px;
                        border: 1px solid #dedede;
                    }
                    span{
                        position: absolute;
                        pointer-events: none;
                        left: 4%;
                        width: 80px;
                        background: #ffff;
                        transition: 200ms ease-in-out;
                        text-align: center;
                    }
                    input:focus ~ span,
                    input:valid ~span{
                        transform: translateX(7px) translateY(-22px) ;
                    }
                }
            }
        }
    }
}